


/* start upper bar*/


.upper-bar{
 background-color: #08526d;
 color: #FFF;
 padding: 10px;
}
.upper-bar span{
	margin-left: 5px;
}


.upper-bar ul{
	margin: 0;
}
.upper-bar ul li{
	display: inline-block;
}

.upper-bar ul li a{
	color: #fff;
	display: inline-block;
	margin-left: 20px;
	font-size: 20px;
}

/*end upper bar*/



/*Start nav-bar*/
.navbar-brand > span{
	font-size: 35px;
}

.navbar-brand span:first-child{
	color: #08526d;
	font-weight: bold;

}
.navbar-brand span:last-child{
	color: #ec1c23;


}

.navbar-nav .nav-link{
	font-size: 16px;
	text-transform: uppercase;
	margin-left: 10px;
	color: #08526d !important;

}
.navbar-nav .active{
	color: #ec1c23 !important

}
.navbar-nav .nav-link:hover{
	color: #ec1c23 !important;
}


/*End nav-bar*/





/*start slider*/


.slider{
	background-color: #ccc;

}

.slider img{
	height: 400px;

}


@media(max-width: 768px){
	.slider .carousel-inner  {
		justify-content: center;
	}

}
.slider .carousel-inner  {

	display: flex;
	align-items: center;
	justify-content: left;
}
.slider .carousel-inner .overlay{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: rgba(0,0,0,.6);
	z-index: 2;
}


.slider .carousel-inner h5{
	position: absolute;
     color: #FFF;
	  font-size: 20px;
      z-index: 3;
      max-width: 900px;
      left:700px;
      line-height: 1.5;
       top: 100px;
}

@media(max-width: 768px){
	.slider .carousel-inner h5{
		font-size: 40px;
		max-width: 100%;
		left: 90px;
		text-align: center;

	}

}

.slider .carousel-inner h4{
	position: absolute;
     color: #FFF;
	  font-size: 40px;
      z-index: 3;
      max-width: 900px;
      left:350px;
      line-height: 1.5;
      top: 150px;
}


.slider .carousel-inner .active h5{
	
     /* left:450px;*/
      
}
@media(max-width: 768px){
	.slider .carousel-inner h4{
		font-size: 24px;
		/*max-width: 100%;*/
		left: 30px;
		top: 170px;
		text-align: center;
		

	}

}

.slider .carousel-inner button{
	position: absolute;
     color: #FFF;
	  font-size: 24px;
      z-index: 3;
      max-width: 900px;
      left:670px;
      line-height: 1.5;
      top: 250px;
      border: 1px solid #fff;
      background-color: transparent;
}
.slider .carousel-inner button:hover{
      background-color: #ec1c23;
      border-radius: 20px;
      color: #fff;
}

@media(max-width: 768px){
	.slider .carousel-inner button{
		font-size: 24px;
		max-width: 100%;
		left: 170px;
		
		text-align: center;
		color: red;

	}

}





.slider .carousel-indicators li{
	height: 10px;
}





/*
.slider .carousel-item{
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
}

.slider .carousel-one{
	background-image: url("../img/img1.jpg")
}

.slider .carousel-two{
	background-image: url("../img/img2.jpg")
}

.slider .carousel-three{
	background-image: url("..//img3.jpg")
}*/




/*end slider*/

/* START STUDY ABROAD*/

/* END STUDY ABROAD*/

.study-aboard{
	padding:  0 0 100px;
	margin-top: 100px;
	background-color: #000;
	color: #ccc;
}

.study-aboard h2{
	
	margin-top: 100px;
	
}
.study-aboard .card{
	background-color: #000;
	color: #ccc;
}

.study-aboard .card:hover{
	/*border: 2px solid #ccc;*/
	box-shadow: 10px 10px 8px 10px #888888;
	
}
.study-aboard .card a{
	background-color: transparent;
	
}

.study-aboard .card a:hover{
	background-color: #ec1c23;
      border-radius: 20px;
	
}



/* start latest posts*/
.latest-post{
	padding:  0 0 100px;
	margin-top: 100px;
}
.latest-post h2{

	font-size: 50px;
	font-weight: bold;
	margin-bottom: 30px;
}

.latest-post .section-description{
     line-height: 1.5;
     font-size: 20px;
	 width: 80%;
	 margin: 0 auto 35px;
	

}
.latest-post .card {
	margin-bottom: 30px;
}

.latest-post .card:hover{
	/*border: 2px solid #ccc;*/
	box-shadow: 5px 5px 4px 5px #888888;
	
}
.latest-post a{
	
}
.latest-post a:hover{
	color: #ec1c23;
	
}

.latest-post .card .card-title{
	/*font-size: 20px;*/
	color: #08526d;
}

.latest-post .card .btn {
	color: #08526d;
	background-color: transparent;

}
.latest-post .card .btn:hover {
	color: #ec1c23;
	

}

/* end latest posts*/









/*start footer*/

.footer {
	padding: 30px 0;
	background-color: #000;
}

.footer h6 {
	margin-bottom: 20px;
	color: #ccc;
}

.footer .site-info h2{
	font-size: 35px;
	margin-bottom: 25px;

}


.footer .site-info span:first-of-type{
	color: #08526d;
	font-weight: bold;

}
.footer .site-info span:last-of-type{
	color: #ec1c23;
}
.footer .site-info p{
line-height: 1.5;
color: #ccc;
}
.footer .site-info a:before {
	font-family: 'FontAwesome';
	content: '\f138';
	display: inline-block;
	margin-right: 5px;

}
.footer .helpful-links h2,
.footer .contcat h2
{
font-size: 22px;
color: #08526d;
margin-bottom: 40px;
}

@media(max-width: 768px){

	.footer .helpful-links h2, .footer .contcat h2{
		margin-top: 20px;
		margin-bottom: 20px;

       }}
 
.footer .helpful-links ul li:before{
	font-family: 'FontAwesome';
	content: '\f054';
	display: inline-block;
	margin-right: 5px;
	font-size: 12px;
    color: #08526d;

}

.footer .helpful-links ul li{
	
    color: #ccc;

}
.footer .contact h2{
	color: #ccc;
}
.footer .contact ul li{
	margin-bottom: 30px;
	color: #ccc;
}

@media(max-width: 768px){
	.footer .contact ul li{
	margin-bottom: 5px;
	font-size: 18px;
}

}
.copy-right {
	border-top: 1px solid  #333;
	padding: 20px;
	background-color: #151515;
	color: #fff;
	font-size: 16px;
}
.copy-right ul{
	margin: 0;
}
.copy-right ul li{
	display: inline-block;
}

.copy-right ul li a{
	color: #fff;
	display: inline-block;
	margin-left: 20px;
	font-size: 20px;
}


/*end footer*/


